@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cookie&family=Cossette+Titre:wght@400;700&family=Google+Sans+Code:ital,wght@0,300..800;1,300..800&family=Henny+Penny&family=Lobster&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&family=Mansalva&family=Manufacturing+Consent&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&family=Quicksand:wght@300..700&family=Shadows+Into+Light+Two&display=swap');

:root {
    --font-padrao: Quicksand, sans serif;
    --font-padrao02: Nunito, sans serif;
}

* {
    font-family: var(--font-padrao);
}

a {
    text-decoration: none;
}

nav {
    text-align: center;
    word-spacing: 15px;
    padding: 45px;
    border-radius: 15px;
}

nav a {
    color: white;
}

nav a:hover {
    color: rgb(65, 65, 65);
    transition-duration: 0.5s;
}

main {
    text-align: center;
    margin: auto;
    padding-top: 30px;
    padding-bottom: 50px;
    color: white;
}

main a {
    color:rgb(65, 65, 65);
}

main a:hover {
    color: rgba(173, 173, 173, 0.801);
}

img {
    max-width: 100%;
    border-radius: 20px;
    box-shadow: rgba(163, 53, 77, 0.219) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

h2 {
    font-size: 23px;
    padding-top: 20px;
}

div {
    padding-top: 25px;
}

iframe {
    max-width: 95%;
    border-radius: 20px;
}

body {
    background-image: linear-gradient(to bottom, black, rgb(2, 2, 63), rgb(23, 3, 44), black);
}

footer {
    background-color: black;
    text-align: center;
    color: white;
    font-size: 14px;
}

footer a {
    color: gray;
}

footer a:hover {
    color: indigo;
    transition-duration: 0.5s;
}