@charset "UTF-8";

body {
    background-image: linear-gradient(to right, rgb(7, 7, 37), rgb(87, 0, 128));
}

nav {
    padding-top: 5px;
    text-align: center;
    word-spacing: 5px; /*espaço entres as palavras*/
    background-color: rgba(0, 0, 0, 0.418);
    padding: 20px;
    border-radius: 10px;
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}

nav a:hover {
    color: blueviolet;
    transition-duration: 0.4s;
}

main {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.336);
}

footer {
    text-align: center;
    word-spacing: 5px; /*espaço entres as palavras*/
    background-color: rgba(0, 0, 0, 0.103);
    border-radius: 5px;
    font-weight: bold;
    padding: 5px;
}

footer a {
    text-decoration: none;
    color: blueviolet;
}

footer a:hover {
    color: rgb(184, 107, 255);
    transition-duration: 0.4s;
}